# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
settings

.project
.pydevproject
.DS_Store
db.sqlite3
db.sqlite3*

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
